/*
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: #bb1717;
    font-size: larger;
}

body{
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b3cdd1;
    background-image: linear-gradient(90deg, #b3cdd1 0%, #2d3eaf 50%, #9fa4c4 50%, #b3cdd1 100%);
}

html{
    font-size: 62.5%;
}

.pesquisa{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    width: 30rem;
}

.hide{
    opacity: 0;
}

.cartao{
    text-align: start;
    border: 1px solid #999999b9;
    background-color: #eee;
    font-size: 1.6rem;
    max-width: 30rem;
    max-height: max-content;
    padding: 3rem;
    border-radius: 15px;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 9px;
    border: 0;
}

.botao{
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 9px;
    border: 0;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emoji-palavra{
    transform: scale(2rem);
}

.nome-palavra{
    font-size: 5rem;
    margin: 1rem 0;
}

.significado-palavra, .fonetica-palavra, .exemplo-palavra{
    margin: 2rem 0;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: max-content;
    font-family: 'Nunito', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto;
    background-color: #f3f4f7;
    background-image: linear-gradient(90deg, #f3f4f7 0%, #caccd1 100%);
}

html{
    font-size: 62.5%;
}

.title{
    font-size: small;
    text-align: center;
}

.pesquisa{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin: 2rem 0;
    width: 35rem;
}


.cartao{
    text-align: start;
    border: 1px solid #c7c7c7b9;
    background-color: #eee;
    font-size: 1.6rem;
    max-width: 35rem;
    padding: 3rem;
    border-radius: 15px;
}

.input, .botao{
    padding: 0.8rem 1rem;
    outline: none;
    border-radius: 9px;
    border: 1px solid #c7c7c7b9;
}

.input{
    width: 70%;
}

.botao{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.focus{
    display: inline-block;
    color: #555;
    /*
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    */
    background-color: #8989bb;
    background-image: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);

    padding: 0 3rem;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.nome-palavra{
    text-align: start;
    font-size: 5rem;
    margin: 1rem 0;
}

.significado-palavra, .fonetica-palavra{
    margin: 2rem 0;
}


